{:index 0, :time 15944500, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 5025275083, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 2, :time 5025386208, :type :invoke, :process 1, :f :read, :value nil}
{:index 3, :time 10030803583, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 4, :time 10030859458, :type :invoke, :process 1, :f :read, :value nil}
{:index 5, :time 15035944167, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 6, :time 15035990833, :type :invoke, :process 1, :f :read, :value nil}
{:index 7, :time 20035673667, :type :fail, :process 1, :f :read, :value nil, :error :net-timeout}
{:index 8, :time 30037238750, :type :invoke, :process 1, :f :read, :value nil, :final? true}
{:index 9, :time 35039653333, :type :fail, :process 1, :f :read, :value nil, :final? true, :error :net-timeout}
