{:index 0, :time 8799875, :type :invoke, :process 0, :f :broadcast, :value 0}
{:index 1, :time 5011672250, :type :info, :process 0, :f :broadcast, :value 0, :error :net-timeout}
{:index 2, :time 5011812250, :type :invoke, :process 1, :f :broadcast, :value 1}
{:index 3, :time 10017356958, :type :info, :process 1, :f :broadcast, :value 1, :error :net-timeout}
{:index 4, :time 10017444583, :type :invoke, :process 2, :f :broadcast, :value 2}
{:index 5, :time 15022580791, :type :info, :process 2, :f :broadcast, :value 2, :error :net-timeout}
{:index 6, :time 15022641833, :type :invoke, :process 3, :f :broadcast, :value 3}
{:index 7, :time 20026147208, :type :info, :process 3, :f :broadcast, :value 3, :error :net-timeout}
{:index 8, :time 30033294500, :type :invoke, :process 4, :f :read, :value nil, :final? true}
{:index 9, :time 35040854333, :type :fail, :process 4, :f :read, :value nil, :final? true, :error :net-timeout}
